.contact-container {
    height: 100vh;
    position: relative;
}

.contact-bg {
    width: 20px;
    height: 100%;
    background-color: #59b256;
    position: absolute;
}

.contact-wrapper {
    padding: 50px;
    display: flex;
}

.contact-left {
    flex: 1;
}

.contact-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title {
    font-size: 60px;
    width: 80%;
}

.contact-info-item {
    display: flex;
    align-items: center;
    margin: 50px 0;
    font-size: 1.2rem;
    font-weight: 300;
    width: 70%;
}

.contact-left {
    margin-left: 2rem;
}

.contact-info-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.contact-description {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 1rem;
    width: 80%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 1rem;
}

input {
    height: 30px;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 20px;
    border: 1px solid #333;
}

textarea {
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 20px;
    border: 1px solid #333;
}

button {
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #59b256;
    color: #fff;
    border-radius: 20px;
    border: none;
    width: 60%;
    margin: 0 auto;
    position: relative;
    font-size: 1.2rem;
    cursor: pointer;
}

.contact-msg {
    padding: 10px;
    background: #94c2ce;
    color: #fff;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    margin: 1rem 0;
    border-radius: 20px;
}